<footer class="footer">
    <div class="is-centered columns has-text-centered">
        <div class="column is-6">
            <p>
                This website is a Work in Progress! Follow us on
                <a href="https://instagram.com/widsurbanachampaign">Instagram</a>. We are a Student Organization
		at the University of Illinois Urbana-Champaign
                <a href="https://ischool.illinois.edu/">School of Information Sciences</a>.
            </p>
        </div>
    </div>
</footer>
